{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h3>Forgot password</h3>
  <form method="post">
    {% csrf_token %}
    <div class=row>
    	<div class="form-grou col-md-6 mb-0">
    		{{ form.email|as_crispy_field }}
    	</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  {% endblock %}