{% load static %}



<aside id="colorlib-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style= " background-image:url({% static 'images/img_bg_1.jpg' %});">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
				   				<div class="slider-text-inner">
				   					<div class="desc">
					   					<h1><span class="text-center"><small>1</small></span> Dhiraj Devkota</h1>
					   					<h2><span>Django Developer</span></h2>
				   					</div>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image:url({% static 'images/img_bg_2.jpg' %});">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
				   				<div class="slider-text-inner">
				   					<div class="desc">
					   					<h1><span class="text-center"><small>2</small></span>Biplav Adhikari</h1>
					   					<h2><span>Who dis boi?</span></h2>
				   					</div>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url({% static 'images/img_bg_3.jpg' %});">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
				   				<div class="slider-text-inner">
				   					<div class="desc">
					   					<h1><span class="text-center"><small>3</small></span>Jabeen Shrestha</h1>
					   					<h2><span>Django Developer</span></h2>
				   					</div>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url({% static 'images/img_bg_4.jpg' %});">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
				   				<div class="slider-text-inner">
				   					<div class="desc">
					   					<h1><span class="text-center"><small>4</small></span>Pooja Bhatta</h1>
					   					<h2><span>Django Developer</span></h2>
				   					</div>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>