{% load static %}

<!--FOOTER-->

	
		<footer id="colorlib-footer" role="contentinfo">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col-md-4">
						<h2>Navigational</h2>
						<p>
							<ul class="colorlib-footer-links">
								<li><a href="{% url 'index' %}"><i class="icon-check"></i> Home</a></li>
								<li><a href="{% url 'contact' %}"><i class="icon-check"></i> Contact Us</a></li>
								<li><a href="{% url 'about' %}"><i class="icon-check"></i> About Us</a></li>
								
								
								<li><a href="{% url 'category_list' %}"><i class="icon-check"></i> Categories</a></li>
								<li><a href="{% url 'collection_list' %}"><i class="icon-check"></i> Collections</a></li>
								
							</ul>
						</p>
					</div>
					<div class="col-md-4 col-md-push-2">
						<h2>Recent Post</h2>
						<ul class="colorlib-footer-links">
							<li>
								<span>22 Jan, 2017</span>
								<a href="#">The Most Popular Leg Workout for Women</a>
							</li>
							<li>
								<span>20 Jan, 2017</span>
								<a href="#">Popular Lifestyle with Fashion &amp; Modeling</a>
							</li>
							<li>
								<span>21 Jan, 2017</span>
								<a href="#">Video Post Travel with my Friends</a>
							</li>
							<li>
								<span>20 Jan, 2017</span>
								<a href="#">Popular Lifestyle with Fashion &amp; Modeling</a>
							</li>
						</ul>
					</div>
					
				</div>
				<div class="row">
					<div class="col-md-12">
						<p>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						<small class="block">Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved. This template is made with <i class="icon-heart3" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></small>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
					</div>
				</div>
			</div>
		</footer>
	

