
{% load static %}

	<div class="colorlib-loader"></div>

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-2">
							<div id="colorlib-logo"><a href="{% url 'index' %}">Article.</a></div>
						</div>
						<div class="col-xs-10 text-right menu-1">
							<ul>



								<li ><a href="{% url 'index' %}">Home</a></li>

								<li ><a href="{% url 'category_list' %}">Categories</a></li>
								<li ><a href="{% url 'collection_list' %}">Collections</a></li>
								<li><a href="{% url 'contact' %}">Contact Us</a></li>
								<li ><a href="{% url 'about' %}">About Us</a></li>

								{% if user.is_authenticated %}
									<li class="has-dropdown" >
										<a href="#"> Hi, {{ user.first_name }} </a>
										{% if user.profile.profile_pic %}
											<img class= "img-circle" src="{{ user.profile.profile_pic.url }}" width="20" height="20">
										{% else %}
											{% static 'images/default.png' %}
										{% endif %}
										<ul class="dropdown">
											<li><a href="{% url 'edit_user' %}">Edit Profile</a></li>
											<li><a href="{% url 'logout' %}">LogOut</a></li>
										</ul>
								</li>
									
								{% else %}	
									<li ><a href="{% url 'signup' %}">SignUp</a></li>
									<li ><a href="{% url 'login' %}">LogIn</a></li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</div>
