{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<aside id="colorlib-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12 breadcrumbs text-center">
						<h2>Collections</h2>
					</div>
				</div>
			</div>
</aside>
<br>
<form action="" method="POST">

    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Yes, I'm sure</button>
</form>


{% endblock %}
