{% extends 'base/base.html' %}

{% block content %}
<aside id="colorlib-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12 breadcrumbs text-center">
						<h2>Categories Detail</h2>
					</div>
				</div>
			</div>
</aside>
<br>


	<img src="{{ category.logo.url }}" style="width:200px">
	<h1>Name: {{ category.name }}</h1>
	<br>
	<br>
	<p>Description: {{ category.description }}</p>
	<button type="submit"><a href="{% url 'category_update' category.id %}">Update</a></button>
	<button type="submit"><a href="{% url 'category_delete' category.id %}">Delete</a></button>


{% endblock %}