{% extends 'base/base.html' %}
{% block content %}


<aside id="colorlib-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12 breadcrumbs text-center">
						<h2>Categories List</h2>
					</div>
				</div>
			</div>
</aside>
<br>


<ul>
	<h3>Categories</h3>
	{% if categories %}
		{% for category in categories %}
			<li><a href="{% url 'category_detail' category.id %}"> {{ category.name }} </a></li>

		{% endfor %}


	{% else %}
		<p>NO CATEGORY FOUND!</p>	
	{% endif %}

</ul>
<button type="submit"><a href="{% url 'category_create' %}">Create</a></button>

{% endblock %}