{% extends 'base/base.html' %}
{% block content %}

<aside id="colorlib-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12 breadcrumbs text-center">
						<h2>Collections</h2>
					</div>
				</div>
			</div>
</aside>
<br>

<ul>

	{% if collections %}
		{% for collection in collections %}
			<li><a href="{% url 'collection_detail' collection.id %}"> {{ collection.title }} </a></li>

		{% endfor %}


	{% else %}
		<p>NO COLLECTION FOUND!</p>	
	{% endif %}

</ul>
<button type="submit"><a href="{% url 'collection_create' %}">Create</a></button>
{% endblock %}