{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<aside id="colorlib-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12 breadcrumbs text-center">
						<h2>Collections</h2>
					</div>
				</div>
			</div>
</aside>
<br>
<form action="" method="POST">
	{% csrf_token %}
	<div class=row>
    	<div class="from-grou col-md-6 mb-0">
    		{{ form.title|as_crispy_field }}
    	</div>
    </div>
    <div class=row>
    	<div class="from-grou col-md-6 mb-0">
    		{{ form.category_name|as_crispy_field }}
    	</div>
    </div>
    <div class=row>
    	<div class="from-grou col-md-6 mb-0">
    		{{ form.description|as_crispy_field }}
    	</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    
</form>

{% endblock %}