{% extends 'base/base.html' %}

{% block content %}


<aside id="colorlib-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12 breadcrumbs text-center">
						<h2>Collections Detail</h2>
					</div>
				</div>
			</div>
</aside>
	<br>
	<h1>Title: {{ collection.title }}</h1>
	<h2>Category_name: <a href="{% url 'category_detail' collection.category_name.id %}"> {{ collection.category_name }} </a></h2>
	<br>
	<br>
	<p>Description: {{ collection.description }}</p>
	<button type="submit"><a href="{% url 'collection_update' collection.id %}">Update</a></button>
	<button type="submit"><a href="{% url 'collection_delete' collection.id%}">Delete</a></button>


{% endblock %}