{% extends 'base/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<aside id="colorlib-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12 breadcrumbs text-center">
						<h2>Contact Us</h2>
					</div>
				</div>
			</div>
</aside>


<div id="colorlib-contact">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 animate-box">
					<h2>Contact Information</h2>
				<div class="row contact-info-wrap">
					<div class="col-md-3">
						<p><span><i class="icon-location-2"></i></span>Lalitpur, 44712<br> Satdobato(N 	ear kk mart)</p>
					</div>
					<div class="col-md-3">
						<p><span><i class="icon-phone"></i></span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
					</div>
					<div class="col-md-3">
						<p><span><i class="icon-paperplane"></i></span> <a href="mailto:info@yoursite.com">info@prixa.org</a></p>
					</div>
					<div class="col-md-3">
						<p><span><i class="icon-globe"></i></span> <a href="https://dhiraj1997.wixsite.com/website">yourwebsite.com</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
			<div class="col-md-10 col-md-offset-1 animate-box">
				<h3>Get In Touch</h3>
		
<form action='' method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.first_name|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.last_name|as_crispy_field }}
      </div>
  	
    <div class=row>
      	<div class="form-group col-md-12 mb-0">
		{{ form.email|as_crispy_field }}
    </div>
</div>
    	
    <div class="form-row">
      <div class="form-group col-md-12 mb-0">
        {{ form.message|as_crispy_field }}
      </div>
    </div>
</div>
    <input type="submit" name="Send Message"</button>
  </form>
 


  <div id="map" class="colorlib-map"></div>
		<div id="colorlib-subscribe">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0 colorlib-heading animate-box">
						<h2>Sign up for a Newsletter</h2>
						<div class="row">
							<div class="col-md-7">
								<p>Enter your email address to get the latest news, events and special offers delivered right to your inbox.</p>
							</div>
							<div class="col-md-5">
								<form class="form-inline qbstp-header-subscribe">
									<div class="row">
										<div class="col-md-12 col-md-offset-0">
											<div class="form-group">
												<input type="text" class="form-control" id="email" placeholder="Enter your email">
												<button type="submit" class="btn btn-primary">Subscribe</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
{% endblock %}