{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1>Log In</h1>
<form action="" method="POST">
	{% csrf_token %}
	{{ form|crispy }}
	<button type="submit" class="btn btn-primary">Sign In</button>
	<button type="submit"><a href="{% url 'password_reset' %}">Forgot Password?</a></button>

</form>

{% endblock %}
