{% extends 'base/base.html' %}
{% load crispy_forms_tags  %}

{% block content %}
<aside id="colorlib-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12 breadcrumbs text-center">
						<h2>Sign Up</h2>
					</div>
				</div>
			</div>
</aside>

<form action="" method="POST" enctype="multipart/form-data" >
	{% csrf_token %}
	<div class="form-row">
      <div class="form-group col-md-12 mb-0">
        {{ form.username|as_crispy_field }}
      </div>
  	</div>
	<div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.first_name|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.last_name|as_crispy_field }}
       </div>
    <div class ="form-row">
    	<div class="form-grou col-md-12 mb-0">
    		{{ form.email|as_crispy_field }}
    	</div>
    </div> 
    <div class ="form-row">
    	<div class="form-grou col-md-12 mb-0">
    		{{ form.password1|as_crispy_field }}
    	</div>
    </div> 
    <div class ="form-row">
    	<div class="form-grou col-md-12 mb-0">
    		{{ form.password2|as_crispy_field }}
    	</div>
    </div> 

	<button type="submit" class="btn btn-primary">Sign in</button>
</form>

{% endblock %}
