{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<aside id="colorlib-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12 breadcrumbs text-center">
						<h2>About Us</h2>
					</div>
				</div>
			</div>
		</aside>

		<div id="colorlib-container">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<img class="img-responsive" src="{{ user.profile.profile_pic.url }}" alt="pp" width="2000" height="2000" >
					</div>
					<div class="col-md-6">
						<p>Hi! <strong>{{ user.profile.bio }} </strong> Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
						<blockquote> 
							A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
						</blockquote>
						<h4>''</h4>
						<!-- user ko object (dot) related_name (dot) fieldname -->



{% if collections %}
	{% for collection in collections %}
		<h1>{{ collection.title }} "{{ collection.description }}"</h1>
	{% endfor %}	

{% else %}
	<p>No collection Found</p>
{% endif %}		

						<p>
							<ul class="colorlib-social-icons">
								<li><a href="#"><i class="icon-twitter"></i></a></li>
								<li><a href="#"><i class="icon-facebook"></i></a></li>
								<li><a href="#"><i class="icon-linkedin"></i></a></li>
								<li><a href="#"><i class="icon-dribbble"></i></a></li>
							</ul>
						</p>
					</div>
				</div>
			</div>
		</div>

{% endblock %}