{% extends 'base/base.html' %}
{% load static %}
<!-- Carousel -->


{% block content %}


{% include 'partials/_carousel.html' %}
{% comment %} {% if categories %}
	{% for category in categories %}
		<h3>{{ category.name }}</h3>

	{% endfor %}	
{% else %}
	<p>No category found.</p>

{% endif %}	 
{% endcomment %}

<div class="container">
	<div class="row">
		<div class="col-md-12 breadcrumbs text-left">
			<br>
			<h1>Welcome</h1>
			<p>Welcome to <a href='https://djangosnippets.org/'>Djangosnippets.org,</a> a site for users of the <a href='https://www.djangoproject.com/'>Django Web Framework</a> to come together and share useful "snippets" of reusable code. If you're just here to browse, you can look snippets reusable code. If you'd like to contribute, <a href="{% url 'signup' %}">sign up</a> for a free account and you'll be able to post snippets of your own, rate and bookmark snippets, and post comments. If you've got any questions, have a look at our FAQ.

</p>

<div class="container">
	<div class="row">
		<div class="col-md-12 breadcrumbs text-left">
			
			<h3><b>Snippets</b></h3>
			<p>Here, you can see home.html Demo.</p>
			<img src="{% static 'images/home.png' %}" />
			
		</div>
	</div>
</div>	
<br><br>

<div class="container">
	<div class="row">
		<div class="col-md-12 breadcrumbs text-left">
			<p>Snippets can be maintained using<a href='https://docs.gitlab.com/ee/api/snippets.html'> snippets API.</a></p>
			<p>There are two types of snippets</p>
			<ul>
				<li>Personal Snippets</li>
				<li>Project Snippets</li>
			</ul>
		</div>
	</div>
</div>		

<br>
<div class="container">
	<div class="row">
		<div class="col-md-12 breadcrumbs text-left">
			<h3><b>Personal snippets</b></h3>
			<p>Personal snippets are not related to any project and can be created completely independently. There are 3 visibility levels that can be set, public, internal and private. See <a href="https://docs.gitlab.com/ee/public_access/public_access.html">Public access</a> for more information.</p>
			
		</div>
	</div>
</div>		


<br>
<div class="container">
	<div class="row">
		<div class="col-md-12 breadcrumbs text-left">
			<h3><b>Project snippets</b></h3>
			<p>Project snippets are always related to a specific project. See <a href="https://docs.gitlab.com/ee/user/project/index.html">project's features</a> for more information.</p>
			
		</div>
	</div>
</div>		




{% comment %}

<h1>Contact Us</h1>
<form action="" method="POST">
	{% csrf_token %}
	{{form.as_p}}
	<input type="submit" name="Submit">

</form>

{% endcomment %}


<br><br><br><br>
<div id="colorlib-instagram">

			
				<!-- ckeditor -->
				<div class="row">
					<div class='col-md-12 breadcrumbs text-center'>
						<p>Is this helpful?</p>
						<button type='submit'>Yes</button> 
						<button type='submit'>No</button>
						<!--<input type='checkbox'>Yes
						<input type='checkbox'>No-->
						<P>Please, Leave a comment...</p>  
						<textarea class="comment" name="editor1"></textarea>
					</div>
				</div>

				<br>
				<div class="col-md-20 col-md-offset-0 colorlib-heading text-center">


					<h2>Instagram</h2>
				</div>
			</div>
			<div class="row">
				<div class="instagram-entry">
					<a href="https://www.instagram.com/"  class="instagram text-center" style="background-image: url({% static 'images/gallery-1.jpg' %});" target="_blank">
					</a>
					<a href="https://www.instagram.com/"  class="instagram text-center" style="background-image: url({% static 'images/gallery-2.jpg' %});" target="_blank">
					</a>
					<a href="https://www.instagram.com/"  class="instagram text-center" style="background-image: url({% static 'images/gallery-3.jpg' %});" target="_blank">
					</a>
					<a href="https://www.instagram.com/"  class="instagram text-center" style="background-image: url({% static 'images/gallery-4.jpg' %});" target="_blank">
					</a>
					<a href="https://www.instagram.com/"  class="instagram text-center" style="background-image: url({% static 'images/gallery-5.jpg' %});" target="_blank">
					</a>
					<a href="https://www.instagram.com/"  class="instagram text-center" style="background-image: url({% static 'images/gallery-6.jpg' %});" target="_blank">
					</a>
					<a href="https://www.instagram.com/"  class="instagram text-center" style="background-image: url({% static 'images/gallery-7.jpg' %});" target="_blank">
					</a>
					<a href="https://www.instagram.com/"  class="instagram text-center" style="background-image: url({% static 'images/gallery-8.jpg' %});" target="_blank">
					</a>
				</div>
			</div>
		</div>

{% endblock %}

<!--ckeditor -->
{% block script %}
<script src="https://cdn.ckeditor.com/4.11.3/standard/ckeditor.js"></script>
<script type="text/javascript">
CKEDITOR.replace( 'editor1' );
</script>

{% endblock %}